<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="mt-5">Edit Item</h2>
      <form [formGroup]="editForm" (ngSubmit)="edit()" class="mt-5">
        <div class="form-group">
          <label for="_id" class="sr-only">Item Id:</label>
          <input
            type="text"
            formControlName="_id"
            name="_id"
            id="_id"
            class="form-control sr-only"
          />
          <br />
          <label for="itemname">Item Name:</label>
          <input
            type="text"
            formControlName="itemname"
            name="itemname"
            id="itemname"
            class="form-control"
          />
          <br />
          <label for="itemquantity">Item Quantity:</label>
          <input
            type="text"
            formControlName="itemquantity"
            name="itemquantity"
            id="itemquantity"
            class="form-control"
          />
          <br />
          <label for="itembought">Item Bought:</label>
          <input
            type="text"
            formControlName="itembought"
            name="itembought"
            id="itembought"
            class="form-control"
          />
          <br />
        </div>
        <button type="submit" class="btn btn-success">
          Save
        </button>
      </form>
      <button type="button" class="btn btn-warning" (click)="backToUser()">
        Go Back
      </button>
    </div>
  </div>
</div>
